body {
	background-color: #05333E;
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
}

@import 'main/trans_sim.scss';
@import 'main/require_sim.scss';
@import 'main/watch_goods.scss';
@import 'main/main.scss';
@import 'main/demo.scss';
